a {
	border-bottom: 1px solid;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

.main-menu a, .social-container a, .social-links a {
	border: none;
	text-decoration: none;
	color: black;
}

.main-menu a:hover, .social-container a:hover, .social-links a:hover {
	border: none;
	text-decoration: none;
	color: #565656
}

.active-item {
	border-bottom: 1px solid #000!important;
	text-decoration: none;
}

a.no-border {
	border: none!important;
	text-decoration: none;
}

.site-name {
	line-height: 1;
}

.site-logo {
	margin-top: -8px;
	margin-right: 4px;
}

sup {
	font-size: 13px;
	font-weight: 400;
	vertical-align: top;
	position: relative;
	top: 6px; 
}

.bg-main {
	background-color: #ecf4f9;
}

.avatar-image {
	border: 5px solid #ecf4f9;
}

.bg-list {
	background-image: linear-gradient(to right, rgba(219,0,85,0.15), rgba(255,157,112,0.15));
}

.br-25 {
	border-radius: 25px;
}

.br-50 {
	border-radius: 99%;
}

.fw-900 {
	font-weight: 900;
}

.border-0 {
	border: 0
}

.fw-600 {
	font-weight: 600;
}

.social-container {
	display: none;
}

.main-menu__link {
	color: #fff;
	background-color: #000;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
	padding: 8px 16px 6px 16px;
	border-radius: 25px;
	transition: all 0.35s ease-out;
}
.main-menu__link:hover {
	color: #fff;
	background-color: #0066ff;
	text-decoration: none;
	font-weight: bold;
}

.active {
	color: #fff;
	background-color: #0066ff;
}

.draft-marker {
	background-image: url('/images/span-back.svg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 4px;
	background-position-x: 0;
}

.text-xl {
	font-size: 3em;
}

.mw-100 {
	max-width: 100px!important;
	height: auto;
}

@media (min-width: 992px) {

	.social-container {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width:40px;
		height: 100%;
		background-color: #ecf4f9;
		opacity: .5;
		z-index: 99;
	}
	.social-container:hover {
		opacity: 1;
	}
	.social-buttons {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}