/* ALL STYLES GOES HERE */

/*
* MAIN CONTENT
*/

:root {
    --primary: #ba85fb;
    --primary-hover: #cc99ff;
}

body {
    background-color: #FFFFFF;
}

.main-color {
    color: var(--primary)!important;
}

.main-color:hover {
    color: var(--primary-hover)!important;
}

.container {
    max-width: 1320px;
}

/*
* FLEX
*/

.nft-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.main-nft-images {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em;
    text-decoration: none;
    color: #000000;
    border: 1px solid #bbb;
    font-weight: 700;
}

.main-nft-images:hover {
	text-decoration: none;
    color: #000000; 
}

.nft-image-border {
	border-radius: 25px;
}

.active {
	font-weight: 700;
}

/*
* POPOVER
*/

.popover .close{
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 1em;
    text-decoration: none;
    color: #565656;
}

.popover .close:hover {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/*
* FOOTER
*/

.footer-area__link {
    text-decoration: none;
    color: #565656;
}

.footer-area__link:hover {
    text-decoration: none;
    color: #000000;
}

/*
* MEDIA AND MOBILE QUERIES
*/

@media (min-width: 992px) {
    .navbar {
        font-size: 1.15em;
    }
    .main-nft-images {
    	font-size: 1.6em;
    }
}