.box {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
}

.navigation-bar {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 240px;
    height: 38px;
}

/*
 * MARGINS
 */

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-bottom-3 {
    margin-bottom: 3rem;
}

/*
 * BORDERS
 */

.border-bottom {
    border-bottom: 1px solid #bdbdbd;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a.link-to-blog {
    border: 2px solid black;
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 99px;
    color: black;
}

a.link-to-blog:hover {
    border: 2px solid #777;
    text-decoration: none;
}

/*
 * CAROUSEL
 */

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}

.slider {
    background: white;
/*    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 1280px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 18);
}

.slider .slide {
    height: 100px;
    width: 250px;
}


@media screen and (min-width: 992px) {
    body {
        font-size: 18px;
    }

    .header-logo {
        width: 300px;
        height: 48px;
    }

    h1 {
        font-size: 3rem;
    }

    .site-description {
        font-size: 1.25rem;
    }

    .flex-box {
        flex-direction: row;
    }
}