html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

footer img {
  width: 36px;
  height: 36px;
  margin: 5px;
}

.copyright img {
  width: 24px;
  height: 24px;
}

.grey-back {
  background-color: #f7f7f9;
}

.icons img {
  width: 64px;
  height: 64px;
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.img-max img {
    max-width: 100%;
    height: auto
}

mark {
    background: #fbf9c9;
    color: #272727;
}

.draft-marker {
    background-image: url(/assets/svg/span-back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 4px;
    background-position-x: 0;
}

.numbers span {
  font-size: 5em;
  font-weight: 700;
  color: #bdbdbd;
}

img.avatar-120 {
  width: 120px;
  height: 120px;
  margin: 10px;
}

img.avatar-180 {
  width: 180px;
  height: 180px;
  margin: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 90px
}

.current img {
  width: 150px;
  height: 150px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
}

.no-border {
  border: none;
}

/* flex */
.flex-container{display:flex;justify-content:space-between;flex-wrap:wrap;background-color:#fff}.flex-container>div{background-color:#fff;width:48%;margin:1%;text-align:left;line-height:75px;font-size:30px;padding:20px;box-sizing:border-box}.flex-container>div.color11{background-color:#aa3590}.flex-container>div.color21{background-color:#e50083}.flex-container>div.color31{background-color:#f7af1a}.flex-container>div.color41{background-color:#e5c453}.flex-container>div.color51{background-color:#ca64e3}.flex-container>div.color61{background-color:#e263a8}.flex-container>div.color71{background-color:#64cae1}.flex-container>div.color81{background-color:#e17b64}.flex-container>div.color91{background-color:#8bb69f}.flex-container>div.color101{background-color:#6b943d}.flex-container>div.color111{background-color:#b4cb34}.flex-container>div.color121{background-color:#aab72c}.flex-container>div.color131{background-color:#8dad28}.flex-container>div.color141{background-color:#906342}.flex-container>div.color151{background-color:#795439}.flex-container>div.color161{background-color:#94c85b}.flex-container>div.color171{background-color:#84af4b}.flex-container>div.color181{background-color:#9f7e84}.flex-container>div.color191{background-color:#7b6167}.flex-container>div.color201{background-color:#6babea}.flex-container>div.color211{background-color:#2a344f}.flex-container>div.color221{background-color:#29324d}.flex-container>div.color231{background-color:#ec7abc}.flex-container>div.color241{background-color:#a780e5}.flex-container>div.color251{background-color:#b6667a}.flex-container>div.color261{background-color:#8f576e}.flex-container>div.color271{background-color:#6a4b61}.flex-container>div.color281{background-color:#008799}.flex-container>div.color291{background-color:#007bff}.flex-container>div.color301{background-color:#6610f2}.flex-container>div.color311{background-color:#6f42c1}.flex-container>div.color321{background-color:#e83e8c}.flex-container>div.color331{background-color:#dc3545}.flex-container>div.color341{background-color:#fd7e14}.flex-container>div.color351{background-color:#ffc107}.flex-container>div.color361{background-color:#28a745}.flex-container>div.color371{background-color:#20c997}.flex-container>div.color381{background-color:#17a2b8}.flex-container>div.color391{background-color:#6c757d}.flex-container>div.color401{background-color:#343a40}.flex-container>div.color411{background-color:#26aadf}.flex-container>div.color421{background-color:#0081b0}.flex-container>div.color431{background-color:#005e85}.flex-container>div.color441{background-color:#feebef}.flex-container>div.color451{background-color:#ff6f8b}.flex-container>div.color461{background-color:#0dced7}.flex-container>div.color471{background-color:#e88063}.flex-container>div.color481{background-color:#01adb9}.flex-container>div.color491{background-color:#e0218e}.flex-container>div.color501{background-color:#ebf3f5}.flex-container>div.color511{background-color:#c0dcdf}.flex-container>div.color521{background-color:#a1c8c5}
/* end flex */
/* px to em */
.container-px-em{margin:0 auto;display:flex;flex-direction:column;align-items:center;justify-content:center}.container-px-em h1{font-size:5.85rem;padding:0 0 .2em 0;margin:0}.container-px-em .input{border-top:none;border-left:none;border-right:none;padding-top:.4em;border-bottom:1px dotted #000;outline:0;width:150px;font-size:3rem;text-align:right;margin-right:.3em;background-color:#ff90b3;outline:0}.container-px-em .input::-webkit-input-placeholder{color:#000;opacity:.2}.container-px-em .px-em{display:flex}.container-px-em .em,.container-px-em .px{font-size:2rem;display:flex;justify-content:flex-end;align-items:flex-end}.container-px-em .em .text,.container-px-em .px .text{padding-bottom:.2em}.container-px-em .em{margin-left:1em}.container-px-em .em .text{margin-right:-.3em}.container-px-em .px-input{width:95px}.container-px-em .basefont{display:flex;align-items:baseline;font-size:3.3rem;padding:0 0 .2em 0;margin:0;border-bottom:1px solid transparent}.container-px-em .basefont p{margin:0;padding:0}.container-px-em .basefont .chosen{width:80px;border-top:none;border-right:none;border-left:none;margin-left:.2em;margin-right:.2em;font-size:3.3rem;text-align:center;border-bottom:2px dotted #000;background-color:#ff90b3;outline:0}.container-px-em .basefont .chosen::-webkit-input-placeholder{color:#000;opacity:.2}
/* end px to em*/
/* tools icons */
.home-icons{box-shadow:0 10px 20px 0 rgba(57,58,61,.15);border-radius:4px;border-top:5px solid #369;padding:40px 30px 40px;box-sizing:border-box;background-color:#fff;margin:15px 0}.home-icons:hover{box-shadow:0 10px 20px 0 rgba(57,58,61,.3)}.home-icons a{font-weight:600;color:#077dd7;border-bottom:0}.home-icons a:hover{font-weight:600;color:#369;border-bottom:0}.home-icons h2{font-size:22px;padding:0;margin:0;line-height:1.3em}.home-icons img{height:64px;width:64px}
/* end tools icons */
/* language */
.language {
    position: relative;
    padding-left: 36px;
    border:none;
    font-weight: 600;
    margin:8px 0;
    color:#555;
    text-decoration: none
}
.language:hover {
  color: #000;
  border:none;
  text-decoration: none
}
.language:before {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid #ececec;
    position: absolute;
    top: calc(50% - 13px);
    left: 0;
    background-position: 50%;
    background-size: contain;
}
.language_eu:before {
    background-image: url(/assets/img/rus.png);
}
.language_ru:before {
  background-image: url(/assets/img/gb.png);
}
/* end language */

.post-list span {color:#777;font-size:.8em;margin-right:1em;}
.post-list img {
  width:24px;
  height: 24px;
  vertical-align: middle;
}

/* media */
@media (max-width: 768px) {

}