* {outline: none !important;}
.transition_03s {    
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn {
  font-weight: lighter;
  font-size: 16px;
}
body {
  font-family: "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #000;
  line-height: 1.42857143;
}
header {
  margin-bottom: 50px;
  padding-bottom: 80px;
  background: #becde4 url(../images/header_bg.jpg) no-repeat center bottom;
}
.top_line {
  padding: 7px 0;
  background: #333;
  color: #FFF;
  min-height: 40px;
}
.top_phone {

}
a.top_phone_number,
a.top_phone_number:hover,
a.top_phone_number:focus {
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
}
a.top_phone_number span {
  margin-right: 10px;
  margin-top: -10px;
  height: 18px;
  vertical-align: middle;
}
.top_work_time {
  font-size: 16px;
}

.navbar-light {
  margin-bottom: 80px;
  background: rgba(255,255,255,0.94);
  border: none;
  border-radius: 0;
}
.navbar-light .navbar-nav>li>a {
  padding: 19px 10px;
  color: #000;
  font-size: 20px;
  border-bottom: 5px solid transparent;
  text-decoration: none;
}
.navbar-light .navbar-nav>li>a:hover {
  border-bottom: 5px solid #2F87EF;
}
.navbar>.container .navbar-brand {
  margin: 2px 0 0;
}
.navbar-brand {
  min-height: 70px!important;
  margin-top: 2px;
  padding-left: 70px;
  background: url(../images/company_logo.png) no-repeat center left;
  line-height: 1;
}
.navbar-brand>span {
  display: block;
}
.company_name {
  margin-bottom: 3px;
  margin-top: 4px;
  color: #0966b0;
  font-size: 26px;
}
.site_name {
  color: #000;
  font-size: 18.9px;
}
.header_info {
  width: 472px;
  height: 472px;
  padding-top: 50px;
  color: #FFF;
  background: url(../images/header_info_bg.png) no-repeat center center;
}
.advantage_company_name {
  font-size: 22px;
}
.advantage_company_title {
  max-width: 360px;
  margin-bottom: 20px;
  font-size: 30px;
}
ul.advantage_list {
  margin: 0 0 50px;
  padding: 0;
  list-style: none;
  font-size: 21px;
}
.advantage_phone {
  margin-bottom: 12px;
}
a.advantage_phone_number,
a.advantage_phone_number:hover,
a.advantage_phone_number:focus {
  color: #000;
  font-size: 28px;
  font-weight: bolder;
  text-decoration: none;
}
a.advantage_phone_number>span {
  font-size: 22px;
  margin-right: 10px;
}
.advantage_button {
  padding: 0px 10px 3px;
  background: #d6f0ff;
  color: #000;
  font-size: 20px;
}
.advantage_button:hover,
.advantage_button:focus {
  color: #000;
  background: #8ec5ff;
}
.modal-content {
  color: #000;
}
.form-control {
  font-size: 16px;
  color: #000;
}

.formOne .btn {
  width: 100%;
  background: #4F96EB;
  color: #FFF;
}
.formOne .btn:hover,
.formOne .btn:focus {
  background: #26549B;
}
h1 {
  margin-bottom: 50px;
  color: #5069a2;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.main_text {
  margin-bottom: 50px;
}
.article_form {
  padding: 50px 0 0;
  background: url(../images/article_form_bg.png) no-repeat center bottom;
  background-size: 100% auto;
  overflow: hidden;
}
.article_form_ico {
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
  background: url(../images/article_form_ico.png) no-repeat;
}
.article_form_title {
  display: block;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.article_form_text {
  display: block;
  margin-bottom: 25px;
  max-width: 450px;
}
.formTwo,
.formThree {
  max-width: 800px;
}

.formTwo input,
.formThree input {
  height: 44px;
  padding: 5px;
  font-size: 18px;
  border: 2px solid #2a456e;
  border-radius: 0;
}
.formTwo .col-md-4,
.formThree .col-md-4 {
  margin-bottom: 25px;
}
.formTwo .btn,
.formThree .btn {
  width: 100%;
  height: 44px;
  color: #FFF;
  font-size: 20px;
  background: #0b69a4;
  border: 2px solid #2a456e;
  border-radius: 0;
}
.formTwo .btn:hover,
.formTwo .btn:focus,
.formThree .btn:hover,
.formThree .btn:focus {
  background: #044873;
}

.our_services {
  padding: 50px 0;
  background: #f3f3f3;
}
h2 {
  margin: 0 0 50px;
  color: #5069a2;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.our_services h2 {
  max-width: 920px;
}
.service_block {
  padding: 15px;
  background: #FFF;
}
.service_block img {
  width: 100%;
}
.service_block_text {
  min-height: 205px;
  font-size: 16px;
}
.service_block ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  color: #000;
}
.service_block ul li {
  position: relative;
  font-size: 16px;
  font-weight: normal;
}
.service_name {
  display: inline-block;
  width: 50%;
  margin: 0 0 7px;
  vertical-align: top;
  background: #FFF;
}
.service_name_inner {
  position: relative;
  padding: 0 10px 0 0;
  background: #FFF;
  z-index: 2;
}
.service_name:after {
  position: absolute;
  float: left;
  top: 3px;
  right: 5px;
  left: 100px;
  height: 1px;
  margin: .85em 0 0;
  content: '';
  background: url(../images/dot.png) 0 0 repeat-x;
  overflow: hidden;
}
.service_value {
  display: inline-block;
  float: right;
  margin: 0 0 7px;
  vertical-align: bottom;
  text-align: right;
}
.service_value_inner {
  position: relative;
  background: #FFF;
  z-index: 2;
  text-align: right;
  padding-left: 10px;
}
a.service_btn {
  display: block;
  background: #0b69a4;
  color: #FFF;
  font-size: 18px;
}
a.service_btn:hover,
a.service_btn:focus {
  color: #FFF;
  text-decoration: none;
  background: #2c93d4;
}
.prices_services {
  padding: 50px 0 0;
}
.prices_services h2 {
  max-width: 700px;
}
.prices_services h3 {
  margin: 35px 0 20px;
  color: #949494;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.prices_services ul {
  max-width: 670px;
  margin: 0 auto 50px;
  padding: 0;
  list-style: none;
}
.prices_services ul li {
  line-height: 40px;
  position: relative;
}

.prices_services_name {
  display: inline-block;
  margin: 0 0 7px;
  vertical-align: top;
  background: #FFF;
}
.prices_services_name_inner {
  position: relative;
  padding: 0 10px 0 0;
  background: #FFF;
  z-index: 2;
}
.prices_services_name:after {
  position: absolute;
  float: left;
  top: 12px;
  right: 5px;
  left: 100px;
  height: 1px;
  margin: .85em 0 0;
  content: '';
  background: url(../images/dot.png) 0 0 repeat-x;
  overflow: hidden;
}
.prices_services_value {
  display: inline-block;
  float: right;
  margin: 0 0 7px;
  vertical-align: bottom;
  text-align: right;
}
.prices_services_value_inner {
  position: relative;
  background: #FFF;
  z-index: 2;
  text-align: right;
  padding-left: 10px;
}

.service_text_1,
.service_text_2,
.service_text_3 {
  padding: 50px 0;
}
.service_text_1,
.service_text_3 {
  background: #f3f3f3;
}

.service_text_1 h2,
.service_text_2 h2,
.service_text_3 h2 {
  margin: 0 0 10px;
  font-size: 26px;
  line-height: normal;
}
.service_text_1 h3,
.service_text_2 h3,
.service_text_3 h3 {
  font-size: 18px;
  text-transform: uppercase;
}
.service_text_1 img,
.service_text_2 img,
.service_text_3 img {
  width: 100%;
  border: 1px solid #f3f3f3;
}
footer {
  background: #36404d;
  padding: 10px 0;
}
footer p {
  margin: 0;
  color: #a8c7ee;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts_footer {
  position: relative;
  min-height: 400px;
}
.contacts_container {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}
.contacts_footer .ymaps-2-1-53-controls__control_toolbar {
  display: none;
}
.contacts {
  position: relative;  
  z-index: 2;
  margin-top: 36px;
  padding: 0 15px 15px;
  background: rgba(255, 255, 255, 0.9);
  border: 10px solid #FFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.contacts h3 {
  margin-bottom: 20px;
  font-size: 28px;
  text-transform: uppercase;
}
.contacts h4 {
  text-transform: uppercase;
  margin: 15px 0 0;
}

.contacts h4 {
    font-size: 18px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.prices_services span.material-icons {
  vertical-align: middle;
}

.material-icons.md-40 { font-size: 40px; }

.material-icons.md-48 { font-size: 48px; }

.container {
  max-width: 1170px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-close {
  font-size: 12px;
}

b, strong {
    font-weight: bold;
}

.text-success {
  margin-bottom: 1em;
  text-align: center;
}

/*
* MEDIA QUERIES
*/

@media (min-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1200px) {}
@media (min-width: 768px) and (max-width: 992px) {
  /*
  .navbar-light .navbar-nav>li>a {
    font-size: 17px;
  }
  .company_name {
    font-size: 22px;
  }
  .site_name {
    font-size: 16px;
  }
  .navbar-brand {
    padding-left: 60px;
    background-size: 50px;
  }
  */
}
@media (min-width: 768px) {}
@media only screen and (max-width : 767px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  h2 {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 25px;
  }
  .service_text_1 h2, .service_text_2 h2, .service_text_3 h2 {
    font-size: 20px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }
  .prices_services h3 {
    margin: 20px 0 5px;
    font-size: 18px;
    line-height: 30px;
  }
  .service_text_1 img, .service_text_2 img, .service_text_3 img {
    margin-bottom: 15px;
  }
  article ul {
    padding: 0;
    list-style-position: inside;
  }
  .our_services,
  .prices_services,
  .service_text_1, .service_text_2, .service_text_3 {
    padding: 25px 0;
  }
  .services {
    margin: 0 -15px;
  }
  .services>div {
    margin-bottom: 15px;
  }
  .service_block_text {
    min-height: inherit;
  }
  .prices_services ul {
    margin: 0 auto 25px;
  }
  .main_text {
    margin-bottom: 25px;
  }
  .article_form {
    background: none;
  }
  .article_form form {
    margin-bottom: 15px;
    padding: 15px 0;
    background: #e1f1ff;
  }
  .formTwo .col-md-4, .formThree .col-md-4 {
    margin-bottom: 15px;
  }
  .article_form form button {
    margin-bottom: -15px;
  }
  header {
    margin-bottom: 25px;
    padding-bottom: 60px;
    background-position: center top;
    background-attachment: fixed;
  }
  .top_phone {
    width: 100%;
  }

  .header_info {
    width: 100%;
  }

/*
  .navbar-light {
    margin-bottom: 60px;
  }
  .navbar-collapse {
    border-top: none;
  }
  .navbar-light .navbar-collapse.collapsing {
    position: absolute;
    width: 100%;
  }
  .navbar-nav {
      position: absolute;
      margin: 0px -15px;
      width: 100%;
      background: rgba(255, 255, 255, 0.94);
  }
  .navbar>.container .navbar-brand {
    margin: 2px 15px 0;
  }
  
  .navbar-brand {
    padding-left: 60px;
    background-size: 50px;
  }
  .navbar-toggle {
    margin-top: 20px;
    background-color: rgb(90, 170, 247);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
  }
  .navbar-light .navbar-toggle {
    border-color: #ddd;
  }
  .navbar-light .navbar-toggle.collapsed {
    border-color: #719cc7;
    background-color: rgb(90, 170, 247);
  }
  .navbar-light .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  .navbar-light .navbar-nav>li:first-child {
    border-top: 1px solid #efefef;
  }
  .navbar-nav li.nav-item>a {
    padding: 15px 10px;
    color: #000;
    font-size: 20px;
    border-bottom: 1px solid #efefef;
  }
  .navbar-light .navbar-nav>li>a:hover,
  .navbar-light .navbar-nav>li>a:focus {
    border-bottom: 1px solid #efefef;
  }
*/

  .navbar-light .navbar-nav>li>a {
      padding: 15px 10px;
    color: #000;
    font-size: 20px;
    border-bottom: 1px solid #efefef;
      display: block;
  }

  .prices_services thead {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }
}
@media (min-width: 480px) and (max-width: 540px) {}
@media only screen and (max-width : 480px) {}