* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  background-image: linear-gradient(120deg, #f2f2f2, #e2e2e2);
  font-family: "Open Sans", sans-serif;
  color: #333;
  min-height: 100vh;
}
header {
  font-size: 1.2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.8rem;
  border: none;
  font-size: 1.3rem;
  background-color: white;
}
form button {
  cursor: pointer;
  color: #007dd7;
  transition: all 0.3s ease;
}
form button:hover {
  background-color: #007dd7;
  color: white;
}
form input:focus {
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0.6rem;*/
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.todo-item {
  padding: 0 0.8rem;
}
.trash-btn,
.complete-btn {
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-btn {
  background-color: #336699;
  color: white;
}
.complete-btn {
  background-color: #007dd7;
  color: white;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: black;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: -3px;
  right: 0;
  background-color: #007dd7;
  color: white;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.5s ease;
}
.select:hover::after {
  background-color: #336699;
}
