pre {
    padding: 1.3em;
    margin: 1em 0 2em;
    word-break: break-all !important;
    overflow: auto !important;
    background-color: #f7f4f3 !important;
    border-radius: 5px;
    color: #333;
    white-space: pre !important;
}

p code, li code {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}